@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Square+Peg&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@100;500&family=Square+Peg&display=swap');

@import url('https://fonts.googleapis.com/css?family=Varela+Round');


*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}


.background-color {
background-image: url(../images/fondo-7.gif);
height: 100%;
min-height: 100vh;
background-size: contain; 
//background-repeat: no-repeat;
background-repeat: repeat;


}

.header {
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 500px;
    height: 150px;
    padding-bottom: 10px;
  }
  &__subtitle {
    color: beige;
    display: flex;
    justify-content: center;
    height: 30px;
    width: 310px;
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #458fb1;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    transform: rotate(-1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  transition: all 0.13s ease-in;
    }

}



.main__container {
    display: flex;
    flex-direction: row;
}
.container_filters {
height: 400px;
width: 300px;

  margin-left: 12px;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(
    rgba(108, 110, 105, 0.795),
    rgba(15, 15, 15, 0.808)
  );
  border-radius: 12px;
  margin-left: 12px;
  color: rgb(198, 207, 202);

  &__title-container {
    display: flex;
    justify-content: center;
  }
}

.filter {
&__label {
    color: #88DD22;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    
    &__input {
        width: 140px;
        height: 20px;
        font-size: 18px;
        background: darkgrey;
        border-radius: 6px;
        border: 1px solid darkgrey;
        font-family: "Markazi Text", serif;
        padding-left: 8px;
    }
    &__select {
        font-family: "Markazi Text", serif;
    font-size: 18px;
    height: 28px;
    width: 140px;
    background: darkgrey;
    border-radius: 6px;
    border: 1px solid darkgrey;
    margin-bottom: 12px;
    }
}
}

.rest__button {
  background-color: rgb(84, 87, 84);
  color: rgb(201, 201, 201);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  width: 80px;
  height: 40px;
  border-radius: 8px;
  border: transparent;
  cursor: pointer;
  cursor: hand;
  font-family: "Markazi Text", serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  &:hover {
    background-color: rgb(201, 201, 201);
    color: rgb(84, 87, 84);
    }
  };




.container_list {
    display: flex;
      justify-content: center;
      flex-wrap: wrap;
}


.list{
    display: flex;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      list-style: none;
      padding-right: 30px;
      padding: 40px 40px 40px 60px;
      
      :hover{
        background: 
        linear-gradient(rgba(108, 110, 105, 0.795),rgb(177, 245, 100));
    }
     

     &__li{
         border-bottom: 30px;
         padding: 20px 5px 10px 5px;
         margin-right: 30px;
         margin-top: 30px;
         width: 200px;
         height: 290px;
         background: linear-gradient(rgba(108, 110, 105, 0.795), rgba(15, 15, 15, 0.808));      
         display: flex;
         justify-content: center;
         border-radius: 20px;
   
         a:link {
            text-decoration: none;
          }
         &__img {
            width: 150px;
            height: 200px;
            display:block;
            margin:auto;
            border-radius: 10px; 
        }
        &__title {
            color: #88DD22;
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
            text-align: center;
            
         
        }
        &__status {
            color: rgb(197, 197, 197);
            font-weight: bold;
            margin-top: 10px;
            padding-bottom: 15px;
            display: flex;
            justify-content: center;
        }
     }       

}
